.ellens-rg-feature {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ellens-rg-feature__icon {
    font-size: 3rem;
    /* 48px from Figma */
    color: var(--icon-color-primary);
}

.ellens-rg-feature__icon i {
    display: block;
}

.ellens-rg-feature__icon svg {
    width: 48px;
    height: 48px;
    fill: var(--icon-color-primary);
}

.ellens-rg-feature__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ellens-rg-feature__title {
    margin: 0;
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    font-family: var(--font-family-serif);
    font-size: 1.5rem;
    color: var(--color-white);
    /* 24px */
}

.ellens-rg-feature__subtitle {
    font-family: var(--font-family-sans);
    font-size: 0.875rem;
    /* 14px */
    font-weight: 300;
    opacity: 0.8;
}

.ellens-rg-feature__desc {
    margin: 0;
    font-family: var(--font-family-sans);
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.77;
    /* 32px / 18px */
    color: var(--color-primary);
}