:root {
    /* Colors */
    --pg-color-bg: var(--color-blue-100, #ccdae9);
    /* Section BG */
    --pg-color-text-title: var(--color-blue-500, #004590);
    --pg-color-text-desc: var(--color-blue-500, #004590);
    --pg-color-orange: var(--color-orange-500, #ef8a00);
    --pg-color-white: #ffffff;

    /* Spacing */
    --pg-spacing-section: 5rem;
    /* 80px */
    --pg-spacing-grid-gap-row: 2.5rem;
    /* 40px */
    --pg-spacing-grid-gap-col: 2.25rem;
    /* 36px */

    /* Card */
    --pg-card-radius: 0.5rem;
    /* 8px */
}