/**
 * Image Text Block Widget Styles
 *
 * Main import file that consolidates all image text block widget CSS.
 *
 * @since 1.0.0
 */

@import './layout/container.css';
/* @import './components/content.css'; - File missing */
@import './responsive/tablet.css';