/**
 * Typography Tokens
 */
:root {
    /* Typography Families */
    --font-family-sans: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --font-family-serif: 'DM Serif Display', Georgia, 'Times New Roman', serif;
    --font-family-mono: 'Courier New', Courier, monospace;

    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Text Transforms */
    --text-transform-uppercase: uppercase;
    --text-transform-capitalize: capitalize;
    --text-transform-none: none;

    /* Utility Sizes */
    --font-size-xs: 0.875rem;
    /* 14px */
    --line-height-xs: 1.5;

    /* Headings (Strict) */
    --h1-font-family: var(--font-family-serif);
    --h1-font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
    /* 40px -> 64px */
    --h1-line-height: 1.1;
    --h1-font-weight: 400;

    --h2-font-family: var(--font-family-serif);
    --h2-font-size: clamp(1.75rem, 3vw + 1rem, 2rem);
    /* 28px -> 32px */
    --h2-line-height: 1.2;
    --h2-font-weight: 400;

    --h3-font-family: var(--font-family-serif);
    --h3-font-size: clamp(1.25rem, 2vw + 1rem, 1.5rem);
    /* 20px -> 24px */
    --h3-line-height: 1.4;
    --h3-font-weight: 400;

    --h4-font-family: var(--font-family-serif);
    --h4-font-size: clamp(1.125rem, 1.5vw + 0.8rem, 1.25rem);
    /* 18px -> 20px */
    --h4-line-height: 1.5;
    --h4-font-weight: 400;

    /* tag */

    --tag-font-family: var(--font-family-sans);
    --tag-font-size: clamp(1rem, 1vw + 0.8rem, 1.125rem);
    --tag-line-height: 1.6;
    --tag-font-weight: 300;

    /* Body & UI (Strict) */
    --body-font-family: var(--font-family-sans);
    --body-font-size: clamp(1rem, 1vw);
    /* 16px -> 18px */
    --body-line-height: 1.6;
    --body-font-weight: 300;

    --button-font-family: var(--font-family-sans);
    --button-font-size: 1rem;
    /* 16px */
    --button-line-height: 1.5;
    --button-font-weight: 400;

    --faq-font-family: var(--font-family-serif);
    --faq-font-size: 1.5rem;
    --faq-line-height: 2.25rem;
    --faq-font-weight: 400;
}