.services-cluster {
    position: relative;
    width: 100%;
    min-height: 800px;
    /* Force height for absolute positioning on desktop */
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-cluster__container {
    position: relative;
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    flex-grow: 1;
    /* Allow it to fill the flex parent */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center content */
}

/* Central Image Wrapper */
.services-cluster__visuals {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    max-width: 600px;
    z-index: 1;
    /* z-index-image */
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-cluster__mask-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Masking will be applied via inline style or separate class if mask image is provided */
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

/* Service Cards Container - using absolute positioning for the cluster effect */
.services-cluster__cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* z-index-card */
    pointer-events: none;
    /* Allow clicking through to visuals if needed, though usually cards are the interactables. Let's keep pointer-events auto for cards themselves. */
}

.services-cluster__cards>* {
    pointer-events: auto;
}

.services-cluster__card-wrapper {
    position: absolute;
    width: 350px;
    /* Fixed width for cards roughly */
    max-width: 100vw;
}

.services-cluster__card-wrapper--index-1 {
    position: absolute;
    top: 24%;
    left: 6%;
}

.services-cluster__card-wrapper--index-2 {
    top: 30%;
    right: 5%;
}

.services-cluster__card-wrapper--index-3 {
    bottom: 5%;
    left: 8%;
}

.services-cluster__card-wrapper--index-4 {
    bottom: 4%;
    right: 12%;
}