/**
 * Services Grid Widget Styles
 *
 * Main import file that consolidates all services grid widget CSS.
 *
 * @since 1.0.0
 */

@import '../../../../assets/css/globals/variables.css';
@import './layout/layout.css';
@import './components/card.css';