.ellens-rg {
    padding: var(--section-spacing-py) var(--container-padding-desktop);
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.ellens-rg-title {
    text-align: center;
    margin-bottom: var(--section-spacing-gap);
    font-family: var(--font-family-serif);
    font-size: 2rem;
    color: var(--color-white);
    /* 32px */
}

.ellens-rg-container {
    display: grid;
    grid-template-columns: 1fr 25rem 1fr;
    gap: var(--section-spacing-gap);
    align-items: center;
}

.ellens-rg-column {
    display: flex;
    flex-direction: column;
    gap: var(--section-spacing-gap);
}

.ellens-rg-image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}