/* Responsive */

@media (max-width: 1024px) {
    .team-slider-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .section-title {
        font-size: 2.4rem;
    }

    .swiper-slide {
        width: 300px;
        height: 360px;
    }
}

@media (max-width: 767px) {
    .ellens-team-slider-wrapper {
        padding: 48px 0;
    }

    .swiper-slide {
        width: 80vw;
        height: 100vw;
        /* Portrait aspect on mobile */
    }
}