.image-text-block {
    width: 100%;
}

.image-text-block__container {
    width: 100%;
    border-radius: var(--ellens-itb-spacing-block-radius);
    overflow: hidden;
    position: relative;
}

/* .image-text-block__image-wrapper handled by utilities: w-50 shrink-0 */
.image-text-block__image-wrapper {
    overflow: hidden;
}

.image-text-block__image-wrapper img,
.image-text-block__image-wrapper .image-text-block__image,
.image-text-block__image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    display: block;
}