.image-text-block {
    width: 100%;
}

.image-text-block__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    min-height: 480px;
    /* Based on design height */
    position: relative;
    flex-direction: row;
    /* Default: Image Left, Content Right */
}

/* Modifier for Image Right */
.image-text-block__container--reverse {
    flex-direction: row-reverse;
}