/**
 * FAQ Section Widget Styles
 *
 * Main import file that consolidates all FAQ section widget CSS.
 *
 * @since 1.0.0
 */

@import './layout/container.css';
@import './components/accordion.css';
@import './responsive/tablet.css';