.action-buttons {
    width: 100%;
}

.action-buttons__card {
    background-color: var(--color-blue-700);
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}

.action-buttons__card--has-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-image-url);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}

.action-buttons__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 1;
}

.action-buttons__list {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping */
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}