.action-buttons {
    width: 100%;
}

.action-buttons__card {
    background-color: var(--color-blue-700);
    border-radius: var(--card-radius);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}

.action-buttons__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.action-buttons__list {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping */
    gap: 1.5rem;
    align-items: center;
    width: 100%;
}

.action-buttons__bg-pattern {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    /* Guessing width relative to card */
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
}