.action-buttons {
    width: 100%;
}

/* .action-buttons__card handled by utilities */

.action-buttons__card--has-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-image-url);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}

/* .action-buttons__header handled by utilities */
.action-buttons__header {
    z-index: 1;
}

/* .action-buttons__list handled by utilities */
.action-buttons__list {
    z-index: 1;
}