@media (max-width: 1400px) {
    .dis-container {
        padding: 0 var(--container-padding-desktop);
    }
}

@media (max-width: 1024px) {
    .dis-container {
        flex-direction: column;
        padding: 0 var(--container-padding-desktop);
    }

    .dis-sidebar {
        width: 100%;
    }

}

@media (max-width: 768px) {
    .dis-container {
        padding: 0 var(--container-padding-mobile);
    }

    .dis-content__title {
        font-size: 1.75rem;
    }
}