@media (max-width: 1400px) {
    .dis-container {
        padding: 0 100px;
    }
}

@media (max-width: 1024px) {
    .dis-container {
        flex-direction: column;
        padding: 0 40px;
    }

    .dis-sidebar {
        width: 100%;
    }

    .dis-spacing-section-py: 60px;
}

@media (max-width: 768px) {
    .dis-container {
        padding: 0 20px;
    }

    .dis-content__title {
        font-size: 28px;
    }
}