.ellens-services-grid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.ellens-services-grid__title {
    font-family: var(--font-family-serif);
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    color: var(--color-white);
    margin-bottom: var(--spacing-2xl);
    text-align: left;
}

.ellens-services-grid__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
    width: 100%;
}

@media (min-width: 768px) {
    .ellens-services-grid__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .ellens-services-grid__container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(324px, auto);
        /* padding: var(--spacing-md); */
    }

    .ellens-service-card--featured {
        grid-row: span 2;
    }
}