/* Title */
.action-buttons__title {
    font-family: var(--h2-font-family);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    letter-spacing: var(--h2-letter-spacing);
    font-weight: var(--h2-font-weight);
}

/* Description */
/* .action-buttons__description */

/* Button - Inherits from .btn */
.action-buttons__item {
    z-index: 1;
}

.action-buttons__item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.action-buttons__icon {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    /* 14px */
}