/* Title */
.action-buttons__title {
    margin: 0;
}

/* Description */
.action-buttons__description {
    margin: 0;
}

/* Button - Inherits from .ellens-btn */
.action-buttons__item {
    color: var(--ellens-ab-color-white);
    border: 1px solid var(--ellens-ab-color-white);
    z-index: 1;
}

.action-buttons__item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.action-buttons__icon {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    /* 14px */
}