/* Title */
.action-buttons__title {
    font-size: clamp(1.5rem, 2vw, 2rem);
    /* 24px -> 32px */
    line-height: 1;
    letter-spacing: 0.02em;
    color: var(--ellens-ab-color-text-light);
    margin: 0;
}

/* Description */
.action-buttons__description {
    font-size: clamp(1rem, 1.125vw, 1.125rem);
    /* 16px -> 18px */
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: var(--ellens-ab-color-text-light);
    margin: 0;
    max-width: 80ch;
}

/* Button - Inherits from .ellens-btn */
.action-buttons__item {
    gap: 0.5rem;
    padding: var(--ellens-ab-spacing-button-padding);
    font-size: 1.125rem;
    letter-spacing: 0.01em;
    color: var(--ellens-ab-color-white);
    border: 1px solid var(--ellens-ab-color-white);
    z-index: 1;
}

.action-buttons__item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.action-buttons__icon {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    /* 14px */
}