.faq-section {
    background-color: var(--color-light-blue);
    width: 100%;
    padding: var(--section-spacing-py-large) 0;
}

.faq-container {
    max-width: 1400px;
    /* Reasonable max-width */
    margin: 0 auto;
    padding: 0 var(--spacing-md);
    display: flex;
    gap: 4.5rem;
    align-items: flex-start;
}

.faq-content {
    width: 30%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.faq-accordion {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}