@media (max-width: 900px) {
    .image-text-block__container {
        flex-direction: column !important;
        /* Stack vertically */
    }

    .image-text-block__content-wrapper {
        flex: 1 1 auto;
        width: 100%;
    }

    .image-text-block__image-wrapper {
        height: 20rem;
    }

    .image-text-block__content-wrapper {
        padding: var(--spacing-xl) var(--container-padding-mobile);
    }
}