.usp-grid {
    width: 100%;
    padding: var(--section-spacing-py) 0;
}

.usp-grid__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--card-gap);
    width: 100%;
    align-items: flex-start;
}

.usp-grid__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
}