.usp-grid {
    width: 100%;
    padding: var(--ellens-usp-spacing-container-py) 0;
}

.usp-grid__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--ellens-usp-spacing-grid-gap);
    width: 100%;
    align-items: flex-start;
}

.usp-grid__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--ellens-usp-spacing-item-p);
    gap: var(--ellens-usp-spacing-content-gap);
    height: 100%;
}