:root {
    /* Colors */
    --ellens-itb-color-bg-content: #002956;
    --ellens-itb-color-text-title: #ffffff;
    --ellens-itb-color-text-desc: #ffffff;
    --ellens-itb-color-btn-primary: #ffffff;
    --ellens-itb-color-btn-secondary: #002956;

    /* Spacing - Fluid */
    --ellens-itb-spacing-block-radius: 0.5rem;
    /* 8px */
    --ellens-itb-spacing-padding-content: 3rem;
    /* approx */
    --ellens-itb-spacing-gap-content: 1.5rem;
    --ellens-itb-spacing-gap-buttons: 1rem;

    /* Dimensions */
    --ellens-itb-image-width: 50%;
}