@media (max-width: 1024px) {
    .usp-grid__container {
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
        padding: var(--spacing-md);
    }
}

@media (max-width: 767px) {
    .usp-grid__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}