@media (max-width: 1024px) {
    .usp-grid__container {
        grid-template-columns: repeat(2, 1fr);
        padding: var(--spacing-md);
    }
}

@media (max-width: 767px) {
    .usp-grid__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .usp-grid {
        padding: 3rem 0;
    }
}