@media (max-width: 1024px) {
    .hero__card {
        margin-left: 5vw;
        width: 90vw;
        min-height: auto;
    }
}

@media (max-width: 767px) {
    .hero {
        min-height: auto;
    }

    .hero__container {
        padding: 2.5rem 1.25rem;
        flex-direction: column;
    }

    .hero__card {
        width: 100%;
        margin-left: 0;
        margin-top: 1.25rem;
    }

    .hero__content {
        padding: 2.5rem 1.5rem;
    }
}