/* Subtitle */
.hero__subtitle {
    display: block;
    margin-bottom: 2rem;
}

/* Title */
.hero__title {
    margin: 0;
    margin-bottom: 1.5rem;
}

/* Description */
.hero__description {
    margin-bottom: 2.25rem;
}

.hero__description p {
    margin: 0;
    padding: 0;
}

/* Button - inheriting from .ellens-btn */
.hero__button {
    /* Layout specific */
    color: var(--ellens-hero-color-white);
    border: 1px solid var(--ellens-hero-color-white);
    /* Width override if needed */
    width: fit-content;
}

.hero__button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.hero__button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}