/* Subtitle */
.hero__subtitle {
    display: block;
    color: var(--color-secondary);
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
}

/* Title */
.hero__title {
    font-size: var(--h1-font-size);
    font-family: var(--h1-font-family);
    line-height: var(--h1-line-height);
    font-weight: var(--h1-font-weight);
    color: var(--color-primary);
}

/* Description */
.hero__description {
    margin-bottom: calc(var(--spacing-xl) + var(--spacing-xs));
    /* 2.25rem -> 36px */
    color: var(--color-neutral-dark);
}

.hero__description p {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

/* Contact Form Container */
.hero__form-container {
    /* Utility classes: d-flex, flex-column */
    position: relative;
    z-index: 1;
    /* Match hero__content padding */
    height: 100%;
    border-radius: var(--border-radius-sm);
}

.hero__form-heading {
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    color: var(--color-white);
    margin: 0 0 var(--spacing-lg) 0;
}