/* Subtitle */
.hero__subtitle {
    display: block;
    margin-bottom: var(--spacing-xl);
    color: var(--color-secondary);
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
}

/* Title */
.hero__title {
    margin: 0;
    margin-bottom: var(--spacing-lg);
    font-size: var(--h1-font-size);
    font-family: var(--h1-font-family);
    color: var(--color-primary);
}

/* Description */
.hero__description {
    margin-bottom: calc(var(--spacing-xl) + var(--spacing-xs));
    /* 2.25rem -> 36px */
    color: var(--color-neutral-dark);
}

.hero__description p {
    margin: 0;
    padding: 0;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}