.dis-section {
    padding: var(--dis-spacing-section-py) 0;
    width: 100%;
    color: var(--dis-color-light-blue);
}

.dis-container {
    max-width: 100%;
    display: flex;
    gap: var(--dis-spacing-gap);
    align-items: flex-start;
}

.dis-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dis-sidebar {
    width: 324px;
    flex-shrink: 0;
}