.dis-section {
    padding: var(--section-spacing-py) 0;
    width: 100%;
}

.dis-container {
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    display: flex;
    gap: 4.5rem;
    align-items: flex-start;
}

.dis-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.dis-sidebar {
    width: 30%;
    flex-shrink: 0;
    margin-top: -180px;
}

@media (max-width: 768px) {
    .dis-sidebar {
        margin-top: 0;
    }
}